export(fitBMA)
export(getBMAcoefs)
export(getBMAinput)
export(getBMAout)
exportClasses(BMA)
exportMethods(fitBMA)
exportMethods(getBMAcoefs)
exportMethods(getBMAinput)
exportMethods(getBMAout)
exportMethods(initialize)
exportMethods(plot)
exportMethods(summary)
